<div class="title">
    <h2>Pet Adoption Form</h2>
</div>

<form action="">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="F.name" formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="L.name" formControlName="lastname">
            </mat-form-field>
        </div>
    </div>
</form>