:host{
     .login {
        cursor: pointer;
    }

    .logout {
        cursor: pointer;
    }

    #about {
        background-color: #ffff;
    }

    #What-do {
        background-color: #ffff;
    }

    #gallery {
        background-color: #ffff;
    }

    #contact {
        background-color: #ffff;
    }
}