<div class="hero_area">
    <!-- header section start -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" routerLink="">
                    <img src="./../../../../assets/image/logo.png" alt="image not found" />
                    <span style="margin-bottom: 10px;">
                        Pet'Odyssey
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menutype">

                    <ul class="navbar-nav " *ngSwitchCase="'defult'">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery"> Gallery </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-lg-0" href="#contact"> Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login " (click)="login()">Login</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav " *ngSwitchCase="'user'">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery"> Gallery </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-lg-0" href="#contact"> Contact us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link logout" (click)="openDialog('0ms', '0ms')">LogOut</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="slider_bg_box">
            <img src="./../../../../assets/image/slider-bg.jpg" alt="">
        </div>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol> -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Welcome to
                                        <br>Our Pet Course
                                    </h1>
                                    <p>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="#contact" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Welcome to
                                        <br>Our Pet Shop
                                    </h1>
                                    <p>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Welcome to
                                        <br>Our Pet Shop
                                    </h1>
                                    <p>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Welcome to Our <br>
                                        <span>Pet Shop</span>
                                    </h1>
                                    <p>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Welcome to Our <br>
                                        <span>Pet Shop</span>
                                    </h1>
                                    <p>
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                        The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Read More
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- end slider section -->
</div>