<div class="hero_area">
    <!-- header section start -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" routerLink="">
                    <img src="./../../../../assets/image/logo.png" alt="image not found" />
                    <span style="margin-bottom: 10px;">
                        Pet'Odyssey
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menutype">

                    <ul class="navbar-nav " *ngSwitchCase="'defult'">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"> About </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#training"> Training </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery"> Gallery </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-lg-0" href="#contact"> Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login " (click)="login()">Login</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav " *ngSwitchCase="'user'">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about"> About </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#training"> Training </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery"> Gallery </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-lg-0" href="#contact"> Contact us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link logout" (click)="openDialog('0ms', '0ms')">LogOut</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
  <div class="slider_bg_box">
    <img src="./../../../../assets/image/slider-bg.jpg" alt="">
  </div>

  <div class="container">
    <div class="product-tilt-effect">
      <swiper-container pagination="true" pagination-clickable="true" space-between="30"
                        slides-per-view="1" autoplay="true">
        
        <!-- Slide 1 -->
        <swiper-slide>
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>
                  Welcome to
                  <br>Our Pet Course
                </h1>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">Read More</a>
                  <a href="#contact" class="btn-2">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <!-- Slide 2 -->
        <swiper-slide>
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>
                  Welcome to
                  <br>Our Pet Shop
                </h1>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">Read More</a>
                  <a href="" class="btn-2">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <!-- Slide 3 -->
        <swiper-slide>
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>
                  Welcome to
                  <br>Our Pet Shop
                </h1>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">Read More</a>
                  <a href="" class="btn-2">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <!-- Slide 4 -->
        <swiper-slide>
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>
                  Welcome to Our <br><span>Pet Shop</span>
                </h1>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">Read More</a>
                  <a href="" class="btn-2">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

        <!-- Slide 5 -->
        <swiper-slide>
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Welcome to Our <br><span>Pet Shop</span>
                </h1>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1">Read More</a>
                  <a href="" class="btn-2">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>
  </div>
</section>

    <!-- end slider section -->
</div>