
<!-- contact section -->

<section class="contact_section layout_padding" id="contact">
    <div class="container ">
        <div class="heading_container ">
            <h2 class="">
                Request A call Back
                <hr>
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="#" class="req-call-back">
                    <div class="req-name">
                        <input type="text" placeholder="Name" />
                    </div>
                    <div>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Pone Number" />
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Message" />
                    </div>
                    <div class="btn-box">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"><img src="./../../../../assets/image/dogdaddy.webp" alt=""
                                style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->

<!-- info section -->
<section class="info_section">
    <div class="container">
        <div class="info_form">
            <div class="row">
                <div class="offset-lg-3 col-lg-3">
                    <h5 class="form_heading">
                        Newsletter
                    </h5>
                </div>
                <div class="col-lg-6">
                    <form action="#">
                        <input type="text" placeholder="Enter Your email">
                        <button>
                            subscribe
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="info_logo">
                    <div>
                        <a href="">
                            <img src="./../../../../assets/image/logo.png" alt="" />
                            <span>
                                PetOdessey
                            </span>
                        </a>
                    </div>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="info_links ">
                    <h5>
                        Get in touch
                    </h5>
                    <div class="info_contact">
                        <div class="contact_link_box">
                            <a href="">
                                <fa-icon [icon]="fb" aria-hidden="true"></fa-icon>

                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <fa-icon [icon]="phone" aria-hidden="true"></fa-icon>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <fa-icon [icon]="email" aria-hidden="true"></fa-icon>
                                <span>
                                    demo&#64;gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="info_insta">
                    <h5>
                        INFORMATION
                    </h5>
                    <p class="pr-0 pr-md-4 pr-md-5">
                        At PetOdessey, we are committed to providing the best for your pets. Learn more about our
                        mission, values, and the services we offer
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="pl-0 pl-lg-5 pl-md-4">
                    <h5>
                        Our Shop
                    </h5>
                    <p>
                        Explore our wide range of pet products designed to meet the needs of your furry friends. At
                        PetOdessey, we offer high-quality items to ensure the happiness and well-being of your pets.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="">Pet Odyssey</a>
        </p>
    </div>
</footer>