// * {
//     padding-left: 10px;
//     padding-right: 10px;
//   }

:host {
    .course{
        padding: 10px;

    }
    ::ng-deep .mat-form-field-infix {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    mat-form-field{
        width: 27%;
    }
    .date-range{
        display: flex;
        justify-content: center;
    }
    .time-picker{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    }
    .city{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .trainer{
        display: flex;
        justify-content: center;
    }
    .example-button-row{
        display: flex;
        justify-content: center;
    }
}
