<div class="container">
    <div class="title">
        <h1 class="animated-title"> <mat-icon>pets</mat-icon> All Pet List
        <mat-icon>pets</mat-icon> </h1>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >
    
        <!-- ID Column -->
        <ng-container matColumnDef="petName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet Name </th>
          <td mat-cell *matCellDef="let row"> {{row.petName}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="petBreed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet Bread </th>
          <td mat-cell *matCellDef="let row"> {{row.petBreed}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="petCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet Category </th>
          <td mat-cell *matCellDef="let row"> {{row.petCategory}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="petDOB">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
          <td mat-cell *matCellDef="let row"> {{row.petDOB | date:'MM/dd/yyyy'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
       
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    
      
</div>