*{
    padding-left: 10px;
    padding-right: 10px;
}
.title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.clip-path-title {
    font-size: 35px;
    background: linear-gradient(45deg, #ffcc00, #ff3300); /* Gradient background */
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 20px 30px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    }

    .custom-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #006b72;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }
        
      /* Hover effect */
        .custom-button:hover {
        background-color: #005a60;
        }
        
      /* Optional: Adding focus styles */
        .custom-button:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        }
    
table {
    width: 100%;
    margin-top: 25px;
    }