    <h2>PET ADOPTION DETAIL</h2>
    <form action="">
    <!--    <div class="container">
            <label for="">Pet Name:</label>
            <input type="text">

            <label for="">Pet Category:</label>
            <select name="" id="">
                <option value="">Dog</option>
                <option value="">Cat</option>
            </select>
            
            <label for="">Pet Bread:</label>
            <input type="text" name="" id="">

            <label for="">Pet DOB:</label>
            <input type="date" name="" id="">

            <label for="">Pet Image:</label>
            <input type="url" name="" id="">
        </div>
    </form>

-->
