<div class="container">
  <div class="title">
      <h1 class="animated-title"> km sefkm sekf </h1>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="courseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet Name </th>
        <td mat-cell *matCellDef="let row"> {{row.courseDate | date:'MM/dd/yyyy'}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="courseTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet Bread </th>
        <td mat-cell *matCellDef="let row"> {{row.courseTime }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="courseCity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.courseCity}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="courseTrainer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
        <td mat-cell *matCellDef="let row"> {{row.courseTrainer }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
     
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  
    
</div>