


<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" routerLink="">
                <img src="" alt="image not found" />
                <span style="margin-bottom: 10px;">
                    Pet'Odyssey
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" >

                <ul class="navbar-nav " >
                    <li class="nav-item active">
                        <a class="nav-link" href="#schedule"> Schedule </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog"> Our Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-lg-0" href="#contact"> Contact us</a>
                    </li>
                    
                </ul>

               

            </div>
        </nav>
    </div>
</header>







<div class="container">
    <section class="schedule" id="schedule"></section>
    <h1>Seminar Schedule</h1>
    <ul class="schedule">
        <li>Los Angeles, CA – May 18</li>
        <li>Providence, RI – June 8</li>
        <li>Anchorage, AK – July 13</li>
        <li>Chicago, IL – Aug 10</li>
        <li>New York, NY – Sept 7</li>
    </ul>
    <div class="note">
        <p>** All prices are in USD</p>
        <p>*** Please Note: As The Dog Daddy gets millions of views on social media, the address of the seminar will be sent to registrants via email 1-2 days before the date of the seminar due to security reasons</p>
    </div>
</div>

<div class="blogs" id="blog">
  <div class="imgsection">
  <div class="img1">
    <img src="img/blogss-1.png" alt="">
  </div>
  <div class="img2">
    <img src="img/blogss-2.png" alt="">
  </div>
  <div class="img3">
    <img src="img/blogss-3.png" alt="">
  </div>
  <div class="img4">
    <img src="img/img4.jpeg" alt="">
  </div>
  <div class="img5">
    <img src="img/img6.jpeg" alt="">
  </div>
  <div class="img6">
    <img src="img/img5.jpeg" alt="">
  </div>
  <div class="img7">
    <img src="img/img5.jpeg" alt="">
  </div>
</div>
</div>

  <div class="cards">
    <!-- 1st card -->
    <div class="card">
      <div class="heading">Without Dog (Observe)</div>
      <div class="price-tag">
        <p class="price-amount">
          $100<span class="price-type">/Session (USD)</span>
        </p>
      </div>
      <div class="items">
        <ul>
          <li>Group Seminar led by The Dog Daddy</li>
          <li>Observe Dog Daddy work with each dog</li>
          <li>Learn techniques to take home</li>
          <li>Easy to book your spot</li>
        </ul>
      </div>
      <div class="button">
        <a href="#" class="btn th-btn">Sign Up to Observe</a>
      </div>
    </div>

    <!-- 2nd card -->
    <div class="card card-2">
      <div class="heading c2-h">Group Seminar</div>
      <div class="price-tag">
        <p class="price-amount c2-h">
          $400<span class="price-type">/Session (USD)</span>
        </p>
      </div>
      <div class="items c2-h">
        <ul>
          <li>Group seminar led by The Dog Daddy</li>
          <li>Learn and practice with your dog</li>
          <li>Individual attention given to each dog</li>
          <li>Easy to book your spot</li>
        </ul>
      </div>
      <div class="button c2btn">
        <a href="#" class="btn th-btn c2-btn">Sign Up to Bring your Dog</a>
      </div>
    </div>

    <!-- last card -->
    <div class="card">
      <div class="heading">Private Training</div>
      <div class="price-tag">
        <p class="price-amount">
          $1500<span class="price-type">/Session (USD)</span>
        </p>
      </div>
      <div class="items">
        <ul>
          <li>Private training with The Dog Daddy</li>
          <li>This session covers all the dogs you own</li>
          <li>Customized and flexible training</li>
          <li>Select cities only</li>
        </ul>
      </div>
      <div class="button">
        <a href="#" class="btn th-btn">Sign Up for Private Class</a>
      </div>
    </div>
  </div>



  <section class="info_section">
    <div class="container">
        <div class="info_form">
            <div class="row">
                <div class="offset-lg-3 col-lg-3">
                    <h5 class="form_heading">
                        Newsletter
                    </h5>
                </div>
                <div class="col-lg-6">
                    <form action="#">
                        <input type="text" placeholder="Enter Your email">
                        <button>
                            subscribe
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="info_logo">
                    <div>
                        <a href="">
                            <img src="./../../../../assets/image/logo.png" alt="" />
                            <span>
                                PetOdessey
                            </span>
                        </a>
                    </div>
                    <p>
                        There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="info_links ">
                    <h5>
                        Get in touch
                    </h5>
                    <div class="info_contact">
                        <div class="contact_link_box">
                            <a href="">
                                <fa-icon [icon]="fb" aria-hidden="true"></fa-icon>

                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <fa-icon [icon]="phone" aria-hidden="true"></fa-icon>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <fa-icon [icon]="email" aria-hidden="true"></fa-icon>
                                <span>
                                    demo&#64;gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="info_insta">
                    <h5>
                        INFORMATION
                    </h5>
                    <p class="pr-0 pr-md-4 pr-md-5">
                        At PetOdessey, we are committed to providing the best for your pets. Learn more about our
                        mission, values, and the services we offer
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="pl-0 pl-lg-5 pl-md-4">
                    <h5>
                        Our Shop
                    </h5>
                    <p>
                        Explore our wide range of pet products designed to meet the needs of your furry friends. At
                        PetOdessey, we offer high-quality items to ensure the happiness and well-being of your pets.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="">Pet Odyssey</a>
        </p>
    </div>
</footer>