<!-- 
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div> -->
<div class="bg">
  <div class="userlogin">
    <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div class="front">
          <img src="./../../../assets/image/bg-cover.jpg" alt="">
          <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img class="backImg" src="../../../../../../assets/image/images.jfif" alt="">
          <div class="text">
            <span class="text-1">Complete miles of journey <br> with one step</span>
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-content">

          <div class="login-form">
            <div class="title">Login</div>
            <form #loginForm="ngForm" (ngSubmit)="Login(UserEmail.value, UserPassword.value, 'User')">
              <div class="input-boxes">

                <div class="input-box">
                  <fa-icon [icon]="email"></fa-icon>
                  <input type="email" placeholder="Enter your email" name="UserEmail" ngModel #UserEmail="ngModel"
                    required email    [(ngModel)]="emailValue" [style.borderColor]="
                  !emailValue ? '#00000033' : (UserEmail.invalid ? 'red' : 'green')
                   ">
                </div>

                <div class="input-box">
                  <fa-icon [icon]="lock"></fa-icon>
                  <input type="password" placeholder="Enter your password" required name="UserPassword" ngModel
                    #UserPassword="ngModel" minlength="6" maxlength="16" [(ngModel)]="passwordValue"
                    [style.borderColor]="!passwordValue ? '#00000033' : (passwordValue.length < 6 ? 'red' : (passwordValue.length < 10 ? 'orange' : 'green'))">
                </div>

                <div class="text"><a>{{authError}}</a></div>

                <div class="button input-box">
                  <input type="submit" value="submit" [disabled]="loginForm.invalid">
                </div>

                <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
              </div>
            </form>
          </div>

          <div class="signup-form">
            <div class="title">Signup</div>
            <form #userSignIn="ngForm" (ngSubmit)="SignUp(userSignIn.value)">
              <div class="input-boxes">

                <div class="input-box">
                  <fa-icon [icon]="user"></fa-icon>
                  <input type="text" placeholder="Enter your name" required name="UserName" ngModel #UserName="ngModel"
                    [(ngModel)]="nameValue" [style.borderColor]="
                  !nameValue ? '#00000033' : (UserName.valid ? 'green' : 'red')
                   ">

                </div>
                <!-- <p *ngIf="UserName.invalid&& UserName.touched" class="notice">Enter Username</p> -->

                <div class="input-box">
                  <fa-icon [icon]="email"></fa-icon>
                  <input type="email" placeholder="Enter your email" required name="UserEmail" ngModel
                   email  #UserEmail="ngModel" [(ngModel)]="emailValue" [style.borderColor]="
                  !emailValue ? '#00000033' : (UserEmail.invalid ? 'red' : 'green')
                   ">
                  <!-- <span *ngIf="UserEmail.invalid&& UserEmail.touched" class="notice">your email is not valid</span> -->
                </div>

                <div class="input-box">
                  <fa-icon [icon]="lock"></fa-icon>
                  <input type="password" placeholder="Enter your password" required name="UserPassword" ngModel
                    #UserPassword="ngModel" minlength="6" maxlength="16" [(ngModel)]="passwordValue"
                    [style.borderColor]="!passwordValue ? '#00000033' : (passwordValue.length < 6 ? 'red' : (passwordValue.length < 10 ? 'orange' : 'green'))">
                  <!-- <p *ngIf="UserPassword.invalid&& UserPassword.touched" class="notice">
					<span *ngIf="!passwordValue">
						password is required
					</span>
					<span *ngIf="passwordValue && passwordValue.length  <= 6">
						must be greater than 6
					</span>
				</p> -->
                </div>

                <div class="button input-box">
                  <input type="submit" value="submit" [disabled]="userSignIn.invalid">
                </div>
                <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">