<!-- <h1 class="title">Add Product Detail</h1>

<mat-card-content>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="product-name">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Enter Product Name">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="product-price">
                <mat-label>Product Price(₹)</mat-label>
                <input matInput type="number" placeholder="0" class="price-input">
            </mat-form-field>
        </div>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Product Category</mat-label>
        <input matInput placeholder="Enter Product Name">
    </mat-form-field>

</mat-card-content>
 -->

<div class="container">
    <div class="left-side">
        <h2>Upload Product Image</h2>
        <div class="product-details flex">
            <div id="image-preview"><img src="imageUrl" alt="" *ngif="imageUrl"></div>
            <label id="upload-label" for="image-upload">Upload Image</label>
            <input type="file" id="image-upload" accept="image/*" (change)="onImageSelected($event)">

        </div>
    </div>

    <div class="right-side">
        <h2>Add Product Details</h2>
        <form method="post" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
            <div class="row">
                <div class="example-container col">
                    <label for="">Name:</label>
                    <mat-form-field class="product-field">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" name="name" ngModel>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container col">
                    <label for="">Price:</label>
                    <mat-form-field class="product-field">
                        <mat-label>Enter your product price</mat-label>
                        <input matInput placeholder="pat@example.com" type="number" name="price" ngModel>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="stock col">
                    <label for="">Stock:</label>
                    <mat-form-field class="product-field">
                        <mat-label>In Stock</mat-label>
                        <input matInput type="number" placeholder="enter a number of stock" name="stock" ngModel>
                    </mat-form-field>
                </div>
                <div class="category col">
                    <label for="">Category:</label>
                    <mat-form-field class="product-field">
                        <mat-label>Select me</mat-label>
                        <mat-select >
                            <mat-option value="option">Food&Treats</mat-option>
                            <mat-option value="option">Toys</mat-option>
                            <mat-option value="option">Collars, Leashes, & Harnesses</mat-option>
                            <mat-option value="option"> Grooming Supplies</mat-option>
                            <mat-option value="option">Feeding & Watering Supplies</mat-option>
                            <mat-option value="option">Health & Wellness Products</mat-option>
                            <mat-option value="option">ID Tags & Accessories</mat-option>
                            <mat-option value="option">Travel Accessories</mat-option> 
                            <mat-option value="option">Toys</mat-option>
                            <mat-option value="option">Toys</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="desc">
                <label for="">Description:</label>
                <mat-form-field appearance="outline" style="width: 50%; " class="product-field">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput name="description" ngModel></textarea>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" class="add">Add Product</button>
        </form>
    </div>
</div>